@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
    font-family: "Montserrat", sans-serif;
}
.carousel-caption {
    top: 300px;
    bottom: auto;
}

.carousel-item img {
    filter: brightness(0.5);
}

a:hover {
    text-decoration: none;
    color: burlywood;
}

a {
    color: rgb(0, 0, 0);
}

.running {
    color: ghostwhite;
}

.home {
    background-color: rgb(0, 0, 0);
}

.waktu {
    width: 250px;
}

.inmarsat-add {
    width: 400px;
}

.navbar {
    border-radius: 20px;
}
