<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Announcer · Add Inmarsat Data</title>
        <link
            rel="icon"
            href="../public/img/psn-logo.jpeg"
            type="image/x-icon" />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link
            rel="stylesheet"
            type="text/css"
            href="../public/style/style.css" />
    </head>
    <body>
        <div class="container mt-5">
            <h1>Add Inmarsat</h1>
            <form method="post" action="/add/inmarsat">
                <div class="inmarsat-add">
                    <label for="aktivasi_IDR">Aktivasi IDR</label>
                    <input
                        type="text"
                        class="form-control"
                        id="aktivasi_IDR"
                        name="aktivasi_IDR"
                        required />
                </div>
                <div class="inmarsat-add">
                    <label for="deaktivasi_IDR">Deaktivasi IDR</label>
                    <input
                        type="text"
                        class="form-control"
                        id="deaktivasi_IDR"
                        name="deaktivasi_IDR"
                        required />
                </div>
                <div class="inmarsat-add">
                    <label for="aktivasi_USD">Aktivasi USD</label>
                    <input
                        type="text"
                        class="form-control"
                        id="aktivasi_USD"
                        name="aktivasi_USD"
                        required />
                </div>
                <div class="inmarsat-add">
                    <label for="deaktivasi_USD">Deaktivasi USD</label>
                    <input
                        type="text"
                        class="form-control"
                        id="deaktivasi_USD"
                        name="deaktivasi_USD"
                        required />
                </div>
                <div class="waktu">
                    <label for="awal_periode">Awal Periode</label>
                    <input
                        type="date"
                        class="form-control"
                        id="awal_periode"
                        name="awal_periode"
                        required />
                </div>
                <div class="waktu">
                    <label for="akhir_periode">Akhir Periode</label>
                    <input
                        type="date"
                        class="form-control"
                        id="akhir_periode"
                        name="akhir_periode"
                        required />
                </div>
                <a href="/announcer/index" class="btn btn-secondary mt-2">Kembali</a>
                <button type="submit" class="btn btn-primary mt-2">
                    Simpan
                </button>
            </form>
        </div>
    </body>
</html>
