<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link rel="stylesheet" href="/styles.css" />

        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    </head>
    <body>
        <!-- Carousel -->
        <!-- ... -->

        <!-- Running Text -->
        <marquee behavior="scroll" direction="left">
            <% function formatDate(dateString) { const options = { year:
            'numeric', month: 'long', day: 'numeric' }; return new
            Date(dateString).toLocaleDateString('id-ID', options); } %> <%
            inmarsatItems.forEach(item => { %> Update kurs jual Inmarsat untuk
            periode <%= formatDate(item.awal_periode) %> hingga <%=
            formatDate(item.akhir_periode) %>, untuk biaya Aktivasi Inmarsat Rp.
            <%= item.aktivasi %> dan untuk biaya Deaktivasi Inmarsat Rp. <%=
            item.deaktivasi %> <% }); %>
        </marquee>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
